/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueDeskInterface-Regular.ttf") format("truetype"); }

body {
  font-family: "Helvetica Neue"; }

.product-container {
  height: 100vh;
  position: relative; }

.left-slider {
  height: 100%;
  padding: 0;
  overflow: hidden; }
  .left-slider #left-slider-img.full-size {
    height: 100%;
    width: auto;
    margin: 0; }
  .left-slider #left-slider-img.slide-left {
    animation: slide-left .3s linear forwards; }
  .left-slider #left-slider-img.fade-in-do {
    animation: fade-in-do .3s linear; }
  .left-slider img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px; }
    .left-slider img.fade-in {
      animation: fade-in 0.4s ease-out; }
    .left-slider img.slide-left {
      animation: slide-left .2s linear forwards; }
    .left-slider img.fade-in-do {
      animation: fade-in-do .3s linear; }

.right-slider {
  height: 100%;
  padding: 0;
  overflow: hidden; }
  .right-slider #right-slider-img.full-size {
    height: 100%;
    width: auto; }
  .right-slider #right-slider-img.medium {
    height: 90%;
    width: auto; }
  .right-slider #right-slider-img.small {
    height: 75%;
    width: auto; }
  .right-slider img {
    position: absolute;
    bottom: 0; }
    .right-slider img.slide-left {
      animation: slide-left 0.3s linear forwards; }
    .right-slider img.fade-in-do {
      animation: fade-in-do .3s linear; }
    .right-slider img.fade-in {
      animation: fade-in 0.3s linear; }

.next-arrow {
  position: absolute;
  top: 50%;
  right: 90px;
  width: 65px;
  height: 65px; }
  .next-arrow:hover {
    cursor: pointer; }
  .next-arrow img {
    width: 100%;
    height: auto; }

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 90px;
  width: 65px;
  height: 65px;
  transform: rotateY(180deg);
  z-index: 100; }
  .prev-arrow:hover {
    cursor: pointer; }
  .prev-arrow img {
    width: 100%;
    height: auto; }

.product-description {
  padding-left: 50px;
  padding-top: 120px;
  height: 100%; }

.product-name {
  font-size: 2em;
  width: 80%;
  margin-bottom: 25px;
  text-decoration: underline;
  line-height: 40px; }

.cost {
  font-size: 18px;
  margin-bottom: 25px; }

.selection li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 25px; }

.button {
  padding: 10px 15px;
  display: inline-block;
  margin-right: 15px;
  border: 3px solid #1C2A30;
  font-size: 10px;
  margin-bottom: 25px; }
  .button:hover {
    background-color: #1C2A30;
    color: #fff; }

.info {
  font-size: 10px;
  margin-bottom: 25px; }
  .info li {
    display: inline-block;
    margin-right: 20px; }

.description {
  font-size: 12px;
  width: 70%;
  margin-bottom: 15px;
  line-height: 16px; }

.specs {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 25px; }

.lightbox li {
  height: 75px;
  width: 50px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px; }
  .lightbox li img {
    width: 100%;
    height: auto; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-do {
  0% {
    transform: translateX(100%); }
  100% { } }

@keyframes fade-in {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes slide-left {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-120%); } }
